h1 {
    text-align: center;
    color: #07150c;
}

h2 {
    text-align: center;
    color: #07150c;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
    color: darkgreen;
}

ul {
    list-style-position: inside;
    text-align: center;
  }  

body {
    background-color: #abe5c2;
  }

#my-pic {
text-align: center;
}

img {
    border: 6px solid;
    border-color: #113821;
}